@charset "UTF-8";
/*----------
全体
----------*/
html {
	font-size: 62.5%;
}

body {
  line-height: 1.75;
  color: #333333;
  font-family: "Meiryo",sans-serif;
  background-color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* header-keyVisual */
.header-keyVisual {
	background-image: url(../images/top-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 450px;
}

header {
	width: 100%;
	min-height: 74px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, .8);
}

.header-inner {
	width: 1050px;
	margin: 0 auto;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-logo a img {
	width: 13.2%;
	height: auto;
	min-width: 264px;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-nav li {
	margin-right: 40px;
}

.header-nav li a {
	font-size: 1.4rem;
	color: #333;
}

.header-nav li:last-child {
	margin-right: 0;
}

.keyVisual-sentence p {
	text-align: center;
	padding-top: 150px;
	font-size: 3.6rem;
	text-shadow: #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px;
}

/* greeting */
.greeting-inner {
	width: 900px;
    margin: 0 auto;
    display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -5px;
}

.greeting-img img {
	width: 16.4%;
	height: auto;
	min-width: 300px;
}

.greeting-sentence {
	margin-left: 40px;
}

.greeting-sentence h2 {
	font-size: 2.6rem;
}

.greeting-sentence p {
	font-size: 1.5rem;
	margin-top: 40px;
	line-height: 1.68;
}

/* news */
.news {
	width: 100%;
	height: auto;
	background-color: #ecebe8;
	padding: 52px 0 50px 0;
}

.news-wrap {
	background-color: #fff;
	width: 900px;
	height: auto;
	margin: 0 auto;
	min-width: 700px;
}

.news-contents {
	margin-top: 66px;
	padding: 66px 0 95px 0;
	width: 77.78%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.news-contents h2 {
	font-size: 2.2rem;
	font-weight: bold;
	border-bottom: 2px solid #ccc;
	padding-bottom: 12px;
	position: relative;
}

.news-contents h2::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 60px;
	border-bottom: 2px solid #55a0b2;
}

.news-contents dl {
	margin-top: 40px;
}

.news-contents dl a {
	display: block;
	border-bottom: 1px dotted #ccc;
}
.news-contents dl dt {
	padding: 15px 0;
	font-size: 1.5rem;
	color: #000;
	line-height: 1.68;
}

.news-contents dl a {
	display: flex;
}

.news-contents dl dd {
	padding: 15px 0;
	margin-left: 30px;
	font-size: 1.5rem;
	line-height: 1.68;
	color: #55aac6;
}

/* construction */
.construction {
	margin: 50px auto 0 auto;
	width: 900px;
	height: auto;
}

.construction h2 {
	font-size: 2.2rem;
	font-weight: bold;
	color: #000;
	padding-bottom: 12px;
	border-bottom: 2px solid #ccc;
}

.construction-contents {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.construction-contents li {
	margin-right: 100px;
}

.construction-contents li:last-child {
	margin-right: 0;
}

.construction-contents p {
	font-size: 1.4rem;
}

/* footer */
footer {
	margin-top: 37px;
}

.footer-menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-menu li {
	margin-right: 17px;
}

.footer-menu li:last-child {
	margin-right: 0;
}

.footer-menu li a {
	font-size: 1.3rem;
	color: #333;
}

/* copyright */
.copyright {
	margin-top: 20px;
	background-color: #434343;
	width: 100%;
	height: auto;
	min-height: 30px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright small {
	font-size: 1rem;
	color: #fff;
}

/* breadcrumb */
.breadcrumb {
	width: 1050px;
	margin: 0 auto;
}

.breadcrumb-wrap {
	display: flex;
	align-items: center;
}

.breadcrumb-wrap a {
	font-size: 1.2rem;
	margin-right: 7px;
	color: #333;
}

.breadcrumb-wrap a:last-child {
	margin-right: 0;
}

.breadcrumb-wrap p {
	font-size: 1.2rem;
	margin-right: 7px;
}

/* privacy */
.contents-main {
	background-color: #ecebe8;
	padding-bottom: 50px;
}

/* label */
.label {
	background-image: url(../images/label.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 100%;
	min-height: 200px;
	position: relative;
}

.label h2 {
	text-align: center;
	padding-top: 100px;
	font-size: 3.2rem;
	color: #333;
	text-shadow: #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px;
}

/* privacy */
.privacy-contents {
	padding: 50px 0 64px 0;
	width: 900px;
	height: auto;
	background-color: #fff;
	position: relative;
	margin: -20px auto 0;
	z-index: 10;
}

.privacy-contents-box {
	width: 76.67%;
	height: auto;
	margin: 0 auto;
}

.privacy-contents-box h3 {
	font-size: 2.2rem;
	color: #333;
	padding-bottom: 12px;
	border-bottom: 2px solid #ccc;
	margin-top: 50px;
	position: relative;
}

.privacy-contents-box h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 60px;
	border-bottom: 2px solid #55a0b2;
}


.privacy-contents-box p {
	margin-top: 26px;
	font-size: 1.6rem;
	line-height: 1.625;
}

.privacy-contents-ban ul li {
	font-size: 1.6rem;
	position: relative;
	margin-top: 5px;
	padding-left: 15px;
}

.privacy-contents-ban ul li::before {
	content: "";
	background: #55a0b2;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	position: absolute;
	left: 0;
	top: 10px;
}

/* company */
.company-contents {
	padding: 50px 0 64px 0;
	width: 900px;
	height: auto;
	background-color: #fff;
	position: relative;
	margin: -20px auto 0;
	z-index: 10;
}

.company-contents-box {
	width: 76.67%;
	height: auto;
	margin: 0 auto;
}

.company-contents-box h3 {
	font-size: 2.2rem;
	color: #333;
	padding-bottom: 12px;
	border-bottom: 2px solid #ccc;
	margin-top: 50px;
	position: relative;
}

.company-contents-box h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 60px;
	border-bottom: 2px solid #55a0b2;
}

table {
	margin-top: 37px;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ccc;
}

th {
	border: 1px solid #ccc;
	width: 200px;
	height: auto;
	padding: 25px 0;
	background-color: #e8e8e8;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 1.6rem;
	font-weight: normal;
}

td {
	padding: 25px 0;
	font-size: 1.6rem;
	padding-left: 40px;
	width: 500px;
}




